extends layout

block login
  a#login.btn.btn-inverse(href="/logout")
    | Logout

block content
  section#main
    ol#messages
      li
        span.timestamp 22:22:22
        span.message Hey muthafucka!
    textarea#send.input-xlarge(type='text')