doctype 5
html
  head
    title #hashtagRooms
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/zepto.js')
    script(type='text/javascript', src='/javascripts/application.js')
  body
    header.navbar.navbar-fixed-top
      a#home.brand(href="/")
        i.nav-topics
        | hashtagRooms

      block login
    block content