doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/zepto.js')
    script(type='text/javascript', src='/javascripts/application.js')
  body
    header
      #logo HashtagRooms
      span#identity
        img(src='http://www.gravatar.com/avatar/6dad57e4d583215bb8fabd1164fb809d?s=24&d=mm')
        | @gtramont
    block content